**/.gradle/
**/build/
data/mdk/
data/compiled/
**/README.txt
**/temp*
**/tmp*
tools/compiler/source*
**/changelog.txt
**/CREDITS.txt
**/LICENSE.txt
**/bin/
**/*.log
**/logs/
**/saves/
**/MCP-Reborn/
**/TigerClient/**
!**/TigerClient/debug
**/sign.txt


data/gradle/*
!data/gradle/gradle.properties
